.branch {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    gap           : 2vmax;
    width         : auto;
    padding       : 0 7vmax;
    height        : 50vmax;
    margin-top    : 10vh;
}

.branch-container {
    position: relative;
    width   : 100%;
    height  : 100%
}

.branch-wali,
.branch-wakil,
.branch-sekertaris,
.branch-ketua,
.branch-bendahara {
    background-color: red;
    position        : absolute;
    translate       : 0 -50%;
    z-index         : 10;
    height          : 8vmax;
    display         : flex;
    flex-direction  : column;
    flex-wrap       : wrap;
    box-sizing      : border-box;
    padding         : 1vmax 1.2vmax 1vmax 0.7vmax;
    column-gap      : 0.5vmax;
    row-gap         : 10px;
    width           : auto;
    justify-content : center;
    border-radius   : 10px;
    background-color: #4D4D4D;
}

.branch-wali {
    background-color: #325F4C;
}

.branch img {
    height       : 100%;
    object-fit   : scale-down;
    box-shadow   : 2px 5px 20px 0;
    border-radius: 10px;
}

.branch-container h3 {
    font-size: 1.6vmax;
}

.branch-container h5 {
    font-size: 1.4vmax;
    color    : white;
}

.branch-wali,
.garis-wali {
    top : 10%;
    left: 0;
}

.branch-wakil,
.garis-wakil {
    top : 45%;
    left: 3%;
}

.branch-sekertaris,
.garis-sekertaris {
    top : 80%;
    left: 2%;
}

.branch-ketua,
.garis-ketua {
    right: 2%;
    top  : 30%;
}

.branch-bendahara,
.garis-bendahara {
    right: 0;
    top  : 65%;
}

.garis-main,
.garis-wali,
.garis-wakil,
.garis-sekertaris,
.garis-ketua,
.garis-bendahara {
    position  : absolute;
    height    : 3px;
    background: linear-gradient(#99865B, #DFD6AC, #827962);
}

.garis-main {
    height: 80%;
    width : 3px;
    left  : 50%;
    top   : 10%;
}

.garis-wali {
    width: 50%;
    left : 0;
}

.garis-wakil {
    width: 47%;
}

.garis-sekertaris {
    width: 48%;
}

.garis-ketua {
    width: 48%;
}

.garis-bendahara {
    width: 50%;
}


@media screen and (max-width: 758px) {
    .branch {
        padding: 0 3vmax;
    }

    .branch-container h3 {
        font-size: 1vmax;
    }

    .branch-container h5 {
        font-size: 0.8vmax;
    }

    .branch-wali,
    .branch-wakil,
    .branch-sekertaris,
    .branch-ketua,
    .branch-bendahara,
    .branch img {
        border-radius: 7px;
    }
}