* {
    margin : 0;
    padding: 0;
}

.gambar {
    height             : 100vh;
    background-image   : url(spyware.jpg);
    background-size    : cover;
    background-position: center;
    display            : flex;
    align-items        : flex-end;
}

.gambar h2 {
    margin     : 0 auto 30px;
    font-size  : 5vmax;
    line-height: 1.2em;
    color      : white;
    font-family: 'Josefin Sans', sans-serif;
}